<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recevier</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="row bg-body-tertiary">
      <div class="col-md-6 m-auto p-3">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <div class="logo">
              <span class="navbar-brand mb-0 h1">VideoChat</span>
            </div>
            <div class="navItem">
              <a href="./sender" class="btn btn-dark btn-sm">Make Call</a>

              <a class="text-decoration-none px-2 text-secondary fs-6" href=""
                >User Guide</a
              >
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="row m-2">
      <div class="card col-md-3 m-auto mt-5">
        <div class="card-tittle mt-2"><h3>Receive Call</h3></div>
        <div class="card-body">
          <div id="message"></div>

          <div>
            <input
              placeholder="Enter username..."
              type="text"
              id="username-input"
              class="form-control"
            /><br />
            <button class="btn btn-success btn-sm" onclick="joinCall()">
              Join Call
            </button>
          </div>
          <div id="usernameBox" class="mt-3"></div>
        </div>
      </div>
    </div>
    <div id="video-call-div">
      <video muted id="local-video" autoplay></video>
      <video id="remote-video" autoplay></video>
      <div class="call-action-div">
        <button
          id="muteVideo"
          class="btn btn-warning btn-sm"
          onclick="muteVideo()"
        >
          <img src="./images/camera-video-fill.svg" alt="" />
        </button>
        <button
          id="muteAudio"
          class="btn btn-danger btn-sm"
          onclick="muteAudio()"
        >
          <img src="./images/mic-fill.svg" alt="" />
        </button>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="./recevier.js"></script>
  </body>
</html>
